
.hedear-app {
  background-color: #730e0e; 
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  
  
  
}

.hedear-app h1 {
  margin: 0;
  font-size: 2.5em;
  font-family: Arial, sans-serif;
  
}
